body{
    margin: 0;
    padding: 0;
    font-family: "Courrier New", Courier, monospace;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

#header {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #e851e2;
}

#content {
    width: 85%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: #5d50e8;
}

.color{
    font-weight: bold;
    color: #5d50e8;
}

#big_django{
    font-size: 150%;
    font-weight: bold;
}
